[submodule "riscv-formal"]
	path = riscv-formal
	url = https://github.com/PacoReinaCampo/riscv-formal.git
[submodule "uvm"]
	path = uvm
	url = https://github.com/PacoReinaCampo/UVM.git
[submodule "osvvm"]
	path = osvvm
	url = https://github.com/PacoReinaCampo/OSVVM.git
[submodule "mpsoc-msp430"]
	path = mpsoc-msp430
	url = https://github.com/PacoReinaCampo/MPSoC-MSP430.git
[submodule "mpsoc-or1k"]
	path = mpsoc-or1k
	url = https://github.com/PacoReinaCampo/MPSoC-OR1K.git
[submodule "mpsoc-riscv"]
	path = mpsoc-riscv
	url = https://github.com/PacoReinaCampo/MPSoC-RISCV.git
