[submodule "architecture/mpsoc-riscv"]
	path = architecture/mpsoc-riscv
	url = https://github.com/PacoReinaCampo/MPSoC-RISCV.git
[submodule "architecture/mpsoc-or1k"]
	path = architecture/mpsoc-or1k
	url = https://github.com/PacoReinaCampo/MPSoC-OR1K.git
[submodule "intelligence/mpsoc-ntm"]
	path = intelligence/mpsoc-ntm
	url = https://github.com/PacoReinaCampo/MPSoC-NTM.git
