[submodule "riscv-formal"]
	path = riscv-formal
	url = https://github.com/PacoReinaCampo/riscv-formal.git
[submodule "uvm"]
	path = uvm
	url = https://github.com/PacoReinaCampo/UVM.git
[submodule "osvvm"]
	path = osvvm
	url = https://github.com/PacoReinaCampo/OSVVM.git
